<div id="<%= dom_id order %>">
  <p>
    <strong>Order no:</strong>
    <%= order.order_no %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= order.time %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= order.employee_id %>
  </p>

</div>
