<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Order</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to orders_path, class: button_class(theme: "transparent") do %>
      All Orders
      <% end %>
      <%= link_to edit_order_path(@order), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Order No:</p>
        <p><%= @order.order_no %></p>
      </li>
      <li>
        <p class="font-semibold">Product:</p>
        <p><%= @order.product.name %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @order.quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Date:</p>
        <p><%= @order.date %></p>
      </li>
      <li>
        <p class="font-semibold">Time:</p>
        <p><%= @order.time %></p>
      </li>
      <li>
        <p class="font-semibold">Customer:</p>
        <p><%= @order.customer.name %></p>
      </li>
      <li>
        <p class="font-semibold">Employee:</p>
        <p><%= @order.employee.name %></p>
      </li>
  </ul>
</div>
